/app/config/parameters.yml

/var/bootstrap.php.cache
/var/SymfonyRequirements.php
/var/cache/*
!var/cache/.gitkeep
/var/logs/*
!var/logs/.gitkeep
/var/sessions/*
!var/sessions/.gitkeep
/var/tmp/*
!var/tmp/.gitkeep

/bin/*
!bin/console
!bin/symfony_requirements
!bin/phantomjs-capture.js

/phpunit.xml
/.idea/

/web/bundles/
/web/css/*
!web/css/.gitkeep
/web/js/*
!web/js/.gitkeep
/web/image/*
!web/image/.gitkeep
/web/themes/*
!web/themes/.gitkeep

/web/site-thumbnail/*
!/web/site-thumbnail/.gitkeep

/vendor/
/node_modules/
