/web/bundles/
/app/config/parameters.yml
/var/bootstrap.php.cache
/var/SymfonyRequirements.php
/var/cache/*
/var/logs/*
/var/tmp/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/tmp/.gitkeep
/vendor/
/bin/*
!bin/console
!bin/symfony_requirements
/composer.phar
/.idea/
/web/css/*
/web/js/*
/web/image/*
/web/themes/*
!web/css/.gitkeep
!web/js/.gitkeep
!web/image/.gitkeep
!web/themes/.gitkeep
/node_modules/
/bower_components/
/frontend/typings/
