<div class="site-picker">
    <div class="ui fluid dark large icon input margin-bottom-20">
        <input type="text" placeholder="Search sites">
        <i class="search icon"></i>
    </div>

    <a ui-sref="add-website" class="fluid large ui light gray button margin-bottom-40">
        <i class="plus icon"></i>
        Add Website
    </a>

    <div class="ui list">
        <div class="item" ng-repeat="site in sites track by site.uid">
            <a class="fluid large ui black button" ui-sref="siteDashboard({uid:site.uid})">{{ site.url }}</a>
        </div>
    </div>

</div>
