<section class="site-picker-site-list">
    <div class="ui site list">
        <div class="item site-item" ng-repeat="site in sites track by site.uid">
            <a class="site-name" ui-sref="siteDashboard({uid:site.uid})">
                <span class="status">
                    <span class="site status connected"></span>
                </span>

                <span class="name">
                    {{ site.url | stripProtocol }}
                </span>
            </a>
        </div>
    </div>
</section>
