{% set flash_messages = app.session.flashbag.all %}
{% if flash_messages|length %}
    {% for label, flashes in flash_messages %}
        {% for flash in flashes %}
            <div class="ui message {{ label }}">
                {{ flash|raw }}
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}
