<h2>Site <em>{{ site.url }}</em></h2>

<h4>Core</h4>
<strong>Core v{{ siteDashboard.state.drupalVersion }}</strong>

<h4>Modules</h4>
<ul>
    <li ng-repeat="module in siteDashboard.modules">
        <strong>{{ ::module.name }}</strong>
        <blockquote>{{ ::module.description }}</blockquote>
    </li>
</ul>

<h4>Themes</h4>
<ul>
    <li ng-repeat="theme in siteDashboard.themes">
        <strong>{{ ::theme.name }}</strong>
        <blockquote>{{ ::theme.description }}</blockquote>
    </li>
</ul>

<h3>Updates</h3>
<h4>Core ({{ siteDashboard.coreUpdateCount }})</h4>
<ul>
    <li ng-repeat="update in siteDashboard.coreUpdates">
        <strong>{{ ::update.existingVersion }}</strong>
        ->
        <strong>{{ ::update.recommendedVersion }}</strong>
    </li>
</ul>

<h4>Module ({{ siteDashboard.moduleUpdateCount }})</h4>
<ul>
    <li ng-repeat="update in siteDashboard.moduleUpdates">
        <strong>{{ ::update.existingVersion }}</strong>
        ->
        <strong>{{ ::update.recommendedVersion }}</strong>
    </li>
</ul>

<h4>Theme ({{ siteDashboard.themeUpdateCount }})</h4>
<ul>
    <li ng-repeat="update in siteDashboard.themeUpdates">
        <strong>{{ ::update.existingVersion }}</strong>
        ->
        <strong>{{ ::update.recommendedVersion }}</strong>
    </li>
</ul>
