{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block toolbar %}
    {# This toolbar item may appear along the top or bottom of the screen.#}
    {% set icon %}
        <a href="#" id="angular_profiler_toolbar">
            <!-- clock icon -->
            <svg width="16" height="28" xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox="0 0 16 28" enable-background="new 0 0 16 28" xml:space="preserve">
                <rect x="6" y="4" fill="#3F3F3F" width="4" height="2"></rect>
                <path fill="#3F3F3F" d="M8 7c-4.4 0-8 3.6-8 8s3.6 8 8 8s8-3.6 8-8S12.4 7 8 7z M12 16H9H7v-6h2v4h3V16z"></path>
            </svg>

            <span class="inactive-text">Not available</span>
            <span class="active-text" style="display: none;">
                <span class="sf-toolbar-status sf-toolbar-status-green">
                    W:<span class="sf-angular-toolbar-watchers"></span>
                </span>
                <span class="sf-toolbar-status sf-toolbar-status-green">
                    D:<span class="sf-angular-toolbar-digests"></span>/s
                </span>
            </span>
        </a>
    {% endset %}

    {% set text %}
        <div class="sf-angular-toolbar-info-piece-inactive">
            <div class="sf-toolbar-info-piece">
                <span>Enable profiler for information</span>
            </div>
        </div>
        <div class="sf-angular-toolbar-info-piece-active" style="display: none;">
            <div class="sf-toolbar-info-piece">
                <b>Digests</b>
                <span>
                    <span class="sf-angular-toolbar-digests"></span>/s
                </span>
            </div>
            <div class="sf-toolbar-info-piece">
                <b>Watchers</b>
                <span class="sf-angular-toolbar-watchers"></span>
            </div>
        </div>
    {% endset %}

    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { 'link': false }) }}

{% endblock %}
