<!doctype html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>{% block title %}{{ brand }}{% endblock %}</title>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.0.7/semantic.min.css">

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.0.7/semantic.min.js"></script>

    <style>
        html {
            font-size: 100%;
        }
    </style>

</head>
<body>

{{ block('body') }}

</body>
</html>
