
.content.header {
  @include flex(0, 0, auto);
  @include flex-basis($headerHeight);

  @include display-flex;
  @include flex-align-items(center);
  padding: 0 0 0 40px;

  color: #a2aab7;
  border-bottom: 2px solid #eeeff3;

  .breadcrumb {
    @include flex-grow(1);
    margin: 0;
  }

  .action.menu {
    margin: 0;
    height: 75px;

    .item {
      @include flex-justify-content(center);

      color: #9ba3af;
      font-size: 1.4rem;
      height: 75px;
      width: 75px;
      margin: 0;
      border-radius: 0;

      border-left: 1px solid #eaedf0;
      border-right: 1px solid #eaedf0;

      &:hover, &:active, &.active {
        transition-property: none;
        background-color: #24a5f7;
        border-left-color: #229be7;
        border-right-color: #229be7;
        color: white;
      }
    }
  }
}
