.sidebar {
  @include flex(0, 0, $sidebarWidth);
  background-color: $sidebarBackgroundColor;
  color: $sidebarTextColor;
  text-align: center;

  a.tool {
    color: $sidebarTextColor;
    min-height: $sidebarItemHeight;
    padding: 1rem .5rem;
    text-align: center;
    font-weight: 600;
    font-size: .9rem;
    line-height: 1rem;

    @include display-flex;
    @include flex-direction(column);
    @include flex-justify-content(center);
    @include flex-align-items(center);

    .icon {
      font-size: 1.71428571em !important;
      margin: 0 auto 0.5rem !important;
    }

    &:hover, &:active, &.active {
      color: $sidebarLinkHoverColor;
    }

    &:active, &.active {
      background-color: $sidebarItemActiveBackgroundColor;
    }

    &:hover {
      background-color: $sidebarItemHoverBackgroundColor;
    }
  }
}
