.site.status {
  display: inline-block;

  width: 12px;
  height: 12px;
  border-radius: 8px;

  &, &.neutral {
    background-color: #c0c0c0;
  }

  &.connected {
    background-color: #7eefad;
  }

  &.disconnected {
    background-color: #fc6a6e;
  }
}
