<div class="sidebar">
    <div class="user avatar">
        <img gravatar-src="currentUser.emailMd5" class="ui circular image">
    </div>

    <ul class="tools">
        <li>
            <a ui-sref="dashboard" class="item">
                <i class="dashboard icon"></i>
            </a>
        </li>
        <li>
            <a ui-sref="client-report" class="item">
                <i class="dashboard icon"></i>
            </a>
        </li>
        <li>
            <a ui-sref="manage-plugins" class="item">
                <i class="dashboard icon"></i>
            </a>
        </li>
    </ul>
</div>