<div class="sidebar">
    <div class="tools">
        <a ui-sref="dashboard" ui-sref-active class="tool">
            <i class="dashboard icon"></i>
            Dashboard
        </a>
        <a ui-sref="client-report" ui-sref-active class="tool">
            <i class="calendar outline icon"></i>
            Client Report
        </a>
        <a ui-sref="modules" ui-sref-active class="tool">
            <i class="cubes icon"></i>
            Modules
        </a>
        <a ui-sref="connectWebsite.url" ui-sref-active class="tool">
            <i class="plus icon"></i>
            Connect Website
        </a>
    </div>
</div>
