/**
 * Raised buttons
 */
@mixin raised($color) {
  box-shadow: inset 0 -3px 0 0 transparentize($color, .7);
}

@mixin darker-raised {
  @include raised($gray-darker);
}

@mixin dark-raised {
  @include raised($gray-dark);
}

@mixin light-raised {
  @include raised($gray-light);
}

@mixin lighter-raised {
  @include raised($gray-lighter);
}

@mixin lightest-raised {
  @include raised($gray-lightest);
}

.ui.dark-raised.button {
  @include dark-raised;
}

.ui.darker-raised.button {
  @include darker-raised;
}

.ui.light-raised.button {
  @include light-raised;
}

.ui.lighter-raised.button {
  @include light-raised;
}

.ui.lightest-raised.button {
  @include light-raised;
}

/**
 * Inset buttons
 */
@mixin inset($color) {
  box-shadow: inset 0 3px 0 0 transparentize($color, .7);
}

@mixin darker-inset {
  @include inset($gray-darker);
}

@mixin dark-inset {
  @include inset($gray-dark);
}

@mixin light-inset {
  @include inset($gray-light);
}

@mixin lighter-inset {
  @include inset($gray-lighter);
}

@mixin lightest-inset {
  @include inset($gray-lightest);
}

.ui.dark-inset.button {
  @include dark-inset;
}

.ui.darker-inset.button {
  @include darker-inset;
}

.ui.light-inset.button {
  @include light-inset;
}

.ui.lighter-inset.button {
  @include light-inset;
}

.ui.lightest-inset.button {
  @include light-inset;
}

/**
 * Colored buttons
 */
.ui.light.gray.button, .ui.light.grey.button {
  background-color: #435059;
  color: white;

  &:hover, &:active, .active {
    background-color: #4e5d67;
  }
}

.ui.dark.gray.button, .ui.dark.grey.button {
  background-color: #263037;
}