$marginSizes: 5, 10, 15, 20, 25, 30, 35, 40, 45, 50;

@for $i from 1 to length($marginSizes) {
  $margin: nth($marginSizes, $i);

  .margin-top-#{$margin} {
    margin-top: $margin + 0px !important;
  }
  .margin-bottom-#{$margin} {
    margin-bottom: $margin + 0px !important;
  }
  .margin-left-#{$margin} {
    margin-left: $margin + 0px !important;
  }
  .margin-right-#{$margin} {
    margin-right: $margin + 0px !important;
  }
}
