{% extends 'web/layout.html.twig' %}

{% block body %}


    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="ui button red">I am absolutely certain, delete my account</button>
    {{ form_end(form) }}

{% endblock %}
