{% extends 'web/security/layout.html.twig' %}

{% block header %}
    <h2 class="ui header">
        Sign in to your account
    </h2>
{% endblock %}

{% block content %}
    {% if error %}
        <div class="ui error message">
            {{ error.message }}
        </div>
    {% endif %}

    <form action="{{ path('web-login_check') }}" method="post" class="ui large form">
        <div class="ui stacked segment">
            <div class="field">
                <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input type="email" name="email" placeholder="Email" autofocus value="{{ lastUsername }}">
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password" name="password" placeholder="Password">
                </div>
            </div>
            <div class="inline field">
                <div class="ui left aligned checkbox">
                    <input name="rememberMe" id="rememberMe" type="checkbox" class="hidden">
                    <label for="rememberMe">
                        Remember me
                    </label>
                </div>
            </div>
            <input name="token" type="hidden" value="{{ csrfToken }}"/>
            <button type="submit" class="ui fluid large primary button">Log in</button>
        </div>
    </form>
{% endblock %}
