{% extends 'web/security/layout.html.twig' %}

{% block header %}
    <h2 class="ui header">
        Sign up
    </h2>
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    <div class="ui stacked segment">
        {{ form_widget(form) }}
        <button type="submit" class="ui fluid primary large button">Sign up</button>
    </div>
    {{ form_end(form) }}
{% endblock %}
