{% extends 'web/layout.html.twig' %}

{% block body %}
    <style>
        body {
            background-color: #DADADA;
        }
        body > .grid {
            height: 100%;
        }
        .column {
            max-width: 450px;
        }
    </style>
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui header">
                Register
            </h2>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit">Register</button>
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}
