{% extends 'web/security/layout.html.twig' %}

{% block header %}
    <h2 class="ui header">
        Reset password
    </h2>
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    <div class="ui stacked segment">
        {% if app.user %}
            <p>
                Password reset instructions will be mailed to <em>{{ app.user.email }}</em>.
            </p>
        {% else %}
            <p>
                Please enter the email you used to log into the application.
            </p>
        {% endif %}
        {{ form_widget(form) }}
        <button type="submit" class="ui fluid primary large button">E-mail new password</button>
    </div>
    {{ form_end(form) }}

{% endblock %}
