{% extends 'web/layout.html.twig' %}

{% block body %}

    {% if app.user %}
        Password reset instructions will be mailed to <em>{{ app.user.email }}</em>.
        <br>
        You must log out to use the password reset link in the e-mail.
    {% else %}

    {% endif %}

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">E-mail new password</button>
        {{ form_end(form) }}
{% endblock %}
