{% extends 'web/security/layout.html.twig' %}

{% block header %}
    <h2 class="ui header">
        Set new password
    </h2>
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    <div class="ui stacked segment">
        {{ form_widget(form) }}
        <button type="submit" class="ui button primary large fluid">Set my new password</button>
    </div>
    {{ form_end(form) }}
{% endblock %}
