<div class="ui grid">
    <div class="row">
        <div class="column">
            <p>
                So you want to connect <strong>{{ url }}</strong> to ManageDrupal!
                <br>
                Here's how to do it:
            </p>
        </div>
    </div>
</div>

<div class="ui middle aligned very relaxed stackable grid" ng-class="{'two column':loginFormFound}">
    <div class="row">

        <div class="column">

            <p>
                Install and enable our client plugin, <strong>Oxygen</strong>, that allows you to manage the website remotely:
            </p>

            <div class="ui fluid input">
                <input type="text" readonly ng-value="oxygenZipUrl" onclick="this.select()">
            </div>

            <div class="ui info message">
                If you have the Drupal's core module <strong>Updates</strong> enabled, go to <a ng-href="{{ updatesUrl }}" target="_blank">this page</a>, install it from the URL and enable it.
            </div>

            <div ng-if="connectWebsiteErrors.stillDisabled" class="ui negative message">
                <p>The Oxygen module still appears to be disabled.</p>
            </div>

            <button class="ui primary labeled icon submit button" ng-class="{loading:connectWebsiteLoading}" ng-disabled="connectWebsiteActive" ng-click="newClick()">
                <i class="linkify icon"></i>
                Connect Website
            </button>
        </div>

        <div class="ui vertical divider" ng-if="loginFormFound">
            Or
        </div>

        <div class="column" ng-if="loginFormFound">
            <form class="ui form warning" ng-submit="newFormSubmit(newForm)" name="newForm">

                <div ng-if="!ftpFormFound" class="field">

                    <p>... we can do that for you if you provide us with <strong>{{ url }}</strong> administrator credentials:</p>

                    <div class="field">
                        <label>Username</label>

                        <div class="ui left icon input">
                            <input type="text" placeholder="Your Drupal username" name="username" ng-model="newFormData.username" required>
                            <i class="user icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <label>Password</label>

                        <div class="ui left icon input">
                            <input placeholder="Your Drupal password" type="password" name="password" ng-model="newFormData.password" required>
                            <i class="lock icon"></i>
                        </div>
                    </div>

                    <div ng-if="newForm.$pristine && connectWebsiteErrors.invalidCredentials" class="ui negative message">
                        <p>Invalid credentials provided.</p>
                    </div>

                </div>

                <div ng-if="ftpFormFound" class="field">

                    <div class="ui warning message">
                        <p>Drupal has detected that your filesystem is not writable by the web user. Please fill in your FTP connection details
                            if you want to continue. Since ManageDrupal handles your site's updates, these credentials <strong>are</strong> safely
                            kept on our system.</p>
                    </div>

                    <div class="inline fields">
                        <label>Transfer method</label>

                        <div class="field">
                            <div class="ui radio checkbox">
                                <input id="new-ftp-method-ftp" type="radio" name="ftpMethod" ng-model="ftpFormData.method" value="ftp">
                                <label for="new-ftp-method-ftp">FTP</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input id="new-ftp-method-ssh" type="radio" name="ftpMethod" ng-model="ftpFormData.method" value="ssh">
                                <label for="new-ftp-method-ssh">SSH</label>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <label for="">FTP Username</label>

                        <div class="ui input">
                            <input type="text" name="ftpUsername" ng-model="ftpFormData.username" required>
                        </div>
                    </div>

                    <div class="field">
                        <label for="">FTP Password</label>

                        <div class="ui input">
                            <input type="password" name="ftpUsername" ng-model="ftpFormData.password" required>
                        </div>
                    </div>

                    <div class="field">
                        <label for="">FTP Host</label>

                        <div class="ui input">
                            <input type="text" name="ftpUsername" ng-model="ftpFormData.host" placeholder="localhost">
                        </div>
                    </div>

                    <div class="field">
                        <label for="">FTP Port</label>

                        <div class="ui input">
                            <input type="text" name="ftpUsername" id="" ng-model="ftpFormData.port" ng-placeholder="ftpFormData.method === 'ftp' ? 21 : 22">
                        </div>
                    </div>

                    <div ng-if="newForm.$pristine && connectWebsiteErrors.ftpError" class="ui negative message">
                        <p>Failed to use the provided FTP credentials.</p>

                        <p ng-if="connectWebsiteErrors.ftpErrorMessage">The FTP server returned the following error:
                            <code>{{ connectWebsiteErrors.ftpErrorMessage }}</code>
                        </p>
                    </div>

                </div>

                <button class="ui primary labeled icon submit button" ng-class="{loading:autoConnectWebsiteLoading}" ng-disabled="connectWebsiteActive">
                    <i class="linkify icon"></i>
                    Automatically Connect Website
                </button>
            </form>

            <div class="ui info message">
                These credentials are only used now and are <strong>not</strong> saved anywhere on our system.
            </div>
        </div>

    </div>
</div>
