<form class="ui form" ng-submit="urlFormSubmit(urlForm)" name="urlForm">

    <div class="field" ng-if="!httpAuthenticationRequired">

        <p>
            Enter the URL of the website you would like to connect to the dashboard.
        </p>

        <div class="field">
            <label for="site-url">Website URL</label>
            <input required type="text" name="url" id="site-url" placeholder="http://example.com" ng-model="urlFormData.url" autofocus>
        </div>

    </div>

    <div class="field" ng-if="httpAuthenticationRequired">

        <p>The site specified uses HTTP authentication. Please enter the HTTP credentials below:</p>

        <div class="field">
            <label for="url-http-username">HTTP Username</label>
            <input type="text" name="httpUsername" id="url-http-username" ng-model="urlFormData.httpUsername">
        </div>

        <div class="field">
            <label for="url-http-password">HTTP Password</label>
            <input type="password" name="httpPassword" id="url-http-password" ng-model="urlFormData.httpPassword">
        </div>

        <div class="ui negative message" ng-if="connectWebsiteErrors.httpAuthenticationFailed">
            <p>The HTTP credentials you have entered were not accepted.</p>
        </div>

    </div>

    <button class="ui primary labeled icon submit button" ng-class="{loading:urlFormLoading}" ng-disabled="urlFormLoading">
        <i class="linkify icon"></i>
        Connect Website
    </button>

</form>
