/**
 Layout
 **/
$sidebarWidth: 128px;
$sitePickerWidth: 295px;
$headerHeight: 75px;
/**
 Colors
 **/

// Sidebar
$sidebarBackgroundColor: #303c45;
$sidebarTextColor: white;
$sidebarLinkHoverColor: #ededed;

// Site picker
$sitePickerBackgroundColor: #283037;
$sitePickerTextColor: white;