/**
 Layout
 **/
$sidebarWidth: 110px;
$sidebarItemHeight: 100px;
$sitePickerWidth: 295px;
$headerHeight: 75px;
/**
 Colors
 **/

// Sidebar
$sidebarItemActiveBackgroundColor: #207fc7;
$sidebarItemHoverBackgroundColor: #1678c2;
$sidebarBackgroundColor: #313541;
$sidebarTextColor: #6a7582;
$sidebarLinkHoverColor: white;

// Site picker
$sitePickerBackgroundColor: #282c37;
$sitePickerTextColor: white;
