@import "colors";
@import "variables";
@import "mixins";
@import "base/structural";
@import "base/buttons";
@import "base/checkbox";
@import "base/list";
@import "base/input";

body.stretched.body {
  @include display-flex;
  @include flex-direction(column);
  height: 100vh;
}

.stretched.dashboard.container {
  @include display-flex;
  @include flex-grow(1);
  height: 100vh;
}

.main.content {
  @include display-flex;
  @include flex-direction(column);
  @include flex-grow(1);

  .state.content {
    @include flex-grow(1);
    overflow: auto;
    padding: 50px 40px;
  }
}

@import "components/header";
@import "components/sidebar";
@import "components/site-status-icons";
@import "components/site-picker";
