<!doctype html>
<html lang="en">
<head>
    <base href="{{ path('web-dashboard') }}/">

    <meta charset="UTF-8">
    <title>Document</title>

    <link rel="stylesheet" href="bower_components/semantic-ui/dist/semantic.css">
    {# The dashboard.css file is dynamically built by gulp. A server rule maps all assets like
    /dashboard/*.{js|css|html} to the /dashboard/ directory (relative to the project directory),
    and assets like /image/*.{jpg|png} to the /dashboard/image/ directory (for relative CSS
    assets to work. An alternative is to rewrite CSS routes on build time. #}
    <link rel="stylesheet" href="/css/dashboard.css">

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angularjs/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/semantic-ui/dist/semantic.js"></script>

    <script src="app/app.js"></script>
    <script src="app/run.js"></script>
    <script src="app/states.js"></script>
    {% glob '/dashboard/app/' pattern='{^.+\/.+\.js$}' %}
    <script src="app/{{ glob_path }}"></script>
    {% endglob %}

</head>
<body>

{{ include('dashboard/data.html.twig') }}

<div class="logo-test"></div>

<ui-view></ui-view>

{{ include('live-reload.html.twig') }}

<script>
    {# Dirty fix - when visiting /dashboard# it flips out. Must be the router component, but it's probably related to the <base> tag not being a substring of the current URL. Remove once it's fixed. #}
    if (window.location.href.indexOf('#') !== -1) {
        // Strip the hashbang and ensure trailing slash.
        history.replaceState('', document.title, window.location.pathname.replace(/\/$/, '') + '/' + window.location.search);
    }

    {# Let the templates load from the disk. #}
    angular.module('undine.dashboard.template', []);
    angular.bootstrap(document.body, ['undine.dashboard']);
</script>

</body>
</html>
