<!doctype html>
<html lang="en">
<head>
    <base href="{{ path('web-dashboard') }}/">

    <meta charset="UTF-8">
    <title>Document</title>

    <link rel="stylesheet" href="/css/{{ rev_asset('dashboard.css', 'rev-css.json') }}">

    {# While the development dependencies are declared inline, production dependencies
    are declared in the gulpfile.js, because modifying a .html.twig file would be too
    much to maintain. The dependencies are also different, eg. the Angular.js has two
    builds - one for development, and one for production. #}
    <script src="/js/{{ rev_asset('dashboard.js', 'rev-dashboard.json') }}"></script>

</head>
<body>

<div class="logo-test"></div>

<ui-view></ui-view>

<script>
    angular.bootstrap(document.body, ['undine.dashboard'], {strictDi: true});
</script>

</body>
</html>
