<!doctype html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>{% block title %}Undine{% endblock %}</title>

    {% if app.environment == 'dev' %}
        <link rel="stylesheet" href="/bower_components/semantic-ui/dist/semantic.css">
        <link rel="stylesheet" href="/tmp/css/web/web.css">

        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <script src="/bower_components/angularjs/angular.js"></script>
        <script src="/bower_components/semantic-ui/dist/semantic.js"></script>
        <script src="/tmp/js/web/web-template.js"></script>
        <script src="/tmp/js/web/web.js"></script>
    {% else %}
    <link rel="stylesheet" href="/css/web/{% asset 'web.css' 'rev-css-web.json' %}">

        <script src="/js/web/{% asset 'web.js' 'rev-js-web.json' %}"></script>
    {% endif %}


</head>
<body>
{{ block('body') }}

{% if app.environment == 'dev' %}
    {{ include('live-reload.html.twig') }}
{% endif %}
</body>
</html>
